@import "src/colors";

.media-player-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999;
  user-select: none;

  .player{
    height: calc(100vh - 50vh);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: $lightGray;
    cursor: pointer;
  }

}
