$primary: #006992;
$primaryDark: #27476E;
$black: #3a3a3a;
$gray: #565656;
$lightGray: #c4c4c4;
$white: #ffffff;
$backgroundColor: #f1e6df;
$secondary: #ECA400;
$requiredRed: #ea0000;

$pink: #B5446E;
$blue: #BADEFC;
